[submodule "modules/data_pipeline"]
	path = modules/data_pipeline
	url = git@github.com:smanist/scratch.git
[submodule "modules/mcp_test"]
	path = modules/mcp_test
	url = git@github.com:smanist/mcp_test.git
[submodule "modules/dymad_ref"]
	path = modules/dymad_ref
	url = git@github.com:smanist/dymad-dev.git
[submodule "modules/dymad_migrate"]
	path = modules/dymad_migrate
	url = git@github.com:smanist/dymad-dev.git
